<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard do professor</title>
</head>
<body>
  {% extends 'dsBaseProf.html' %}

  {% block DSbaseProf %}
  <div  class="p-4 sm:ml-64" >
    
      <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl ">Sejam mais que <span class="text-violet-500">Bem-vindos</span> ao nosso sitema</h1>
      <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Esse sistema gerencia toda a unidade academica, feito por Thiago Zaneti</p>


  </div>
  {% endblock %}
</body>
</html>